[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "mevr"]
	path = mevr
	url = https://github.com/haraldschellander/mevr
[submodule "nixmass"]
	path = nixmass
	url = https://github.com/haraldschellander/nixmass
